<div>
    <a href=""><img src="../../../assets/facebook.png" alt="" id="facebook"></a>
    <a href=""><img src="../../../assets/github.png" alt="" id="github"></a>
    <a href="https://www.instagram.com/rndmsnds/"><img src="../../../assets/instagram.png" alt="" id="instagram"></a>
    <a href=""><img src="../../../assets/linkedin.png" alt="" id="linkedin"></a>
    <a href="https://twitter.com/rndmsnds"><img src="../../../assets/twitter.png" alt=""id="twitter"></a>
    <a href="https://solo.to/rndmsnds"><img src="../../../assets/RNDMico.png" alt="" id="RNDMico"></a>
</div>